@font-face {
    font-family: 'minecraftiaregular';
    src: url('fonts/minecraftia-regular.eot');
    src: url('fonts/minecraftia-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/minecraftia-regular.woff2') format('woff2'),
         url('fonts/minecraftia-regular.woff') format('woff'),
         url('fonts/minecraftia-regular.ttf') format('truetype'),
         url('fonts/minecraftia-regular.svg#minecraftiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-stack: 'VT323', Helvetica, sans-serif;
$bg-color: #2c8af4;
$color-white: #fdfff9;

$color-yellow: #f8c12a;
$color-yellow-dark: #EDB41A;
$color-green: #7abf31;
$color-green-dark: #6DAD2A;
$color-grey: #d3d0c7;
$color-black: #000000;

html, body { 
  margin: 0;
  height: 100%;
  width: 100%;

  body {
    font: 30px $font-stack;
    color: $color-white;
    background-color: $bg-color;
    text-transform: uppercase;
    
    > .row {
    	margin: 0;
    }
  }
}

#container-page {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

#container-game {
  display: table-cell;
  vertical-align: middle;
  background: #2c8af4;
}
#container-inner {
  position: absolute;
  height: 100%;
  width: 100%;
}

#svg {
  margin: auto;
  height: 100%;
  min-height: 660px;
  max-height: 800px;
  width: 800px;
  position: relative;
  background-color: #2c8af4;
}

#game-title {
  padding-top: 40px;
  padding-bottom: 40px;
}

.game-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

#hud {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
}

#hud #lives {
  float: left;
}

#hud #messages {
  display: inline-block;
}

#game-container {
  overflow: hidden;
}

#safe-route-dialog, #menu-pause, #menu-game-over {
  display: none;
  position: absolute;
  background-color: rgba(44,138,244,0.9);
  text-align: center;
  width: 100%;
  height: 100%;
}

#safe-route-dialog {
  padding: 60px;
}

#safe-route-dialog .text-frame #submarine-spotted {
  font-size: 24px;
}

#safe-route-dialog .text-frame {
  max-width: 840px;
  margin: auto;
}



#game-container {
  overflow: hidden;
}

.button-style {
  border: 4px solid $color-black;
  margin: 10px auto;
  display: inline-block;
  text-align: center;
}
.button-fixed-size { width: 400px; }
.button-locked { background: $color-grey; }
.button-yellow { background: $color-yellow; }
.button-yellow:hover { background: $color-yellow-dark; }
.button-green { background: $color-green; }
.button-green:hover { background: $color-green-dark; }

.button-bottom { margin: 10px 20px 30px 20px; }
.button-content-size .button-text { padding: 10px 20px; }
.button-text {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  border: 4px solid #fdfff9;
}

.text-black { color: $color-black; }
.text-yellow { color: $color-yellow-dark; }

a, a:hover, a:focus {
  text-decoration: none;
  color: inherit;
  cursor: default;
}
p { 
  margin: 0; 
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.text-frame {
  background: #fdfff9;
  border: 4px solid $color-black;
  padding: 10px;
  width: 100%;
  resize: none;
  font-size: inherit;
  text-transform: inherit;
  box-sizing: border-box;
}

.text-frame.x-scrollable { height: 100px; }
.x-scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
}

.divider {
  border-bottom: 3px solid #ffffff;
  margin-bottom: 10px;
}

.inline-block { display: inline-block; }
.underline { text-decoration: underline; }

.padding-0 { padding: 0; }
.margin-bottom { margin-bottom: 20px; }
.margin-left { margin-left: 20px; }
.margin-right { margin-right: 20px; }
.top { top: 0; }
.bottom { bottom: 0px; }
.right { right: 0; }
.left { left: 0; }
.float-left { float: left; }
.float-right { float: right; }
.position-relative { position: relative; }
.position-absolute { position: absolute; }

.row { padding-bottom: 10px; }
.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.text-title { text-decoration: underline; }