@font-face {
  font-family: 'minecraftiaregular';
  src: url("fonts/minecraftia-regular.eot");
  src: url("fonts/minecraftia-regular.eot?#iefix") format("embedded-opentype"), url("fonts/minecraftia-regular.woff2") format("woff2"), url("fonts/minecraftia-regular.woff") format("woff"), url("fonts/minecraftia-regular.ttf") format("truetype"), url("fonts/minecraftia-regular.svg#minecraftiaregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  margin: 0;
  height: 100%;
  width: 100%; }
  html body, body body {
    font: 30px minecraftiaregular, Helvetica, sans-serif;
    color: #fdfff9;
    background-color: #0F3763;
    text-transform: uppercase; }
    html body > .row, body body > .row {
      margin: 0; }
    html body .svg-container, body body .svg-container {
      border: 1px solid white;
      display: block;
      margin: 0 auto;
      width: 50%;
      height: 500px;
      overflow: hidden; }
      html body .svg-container svg, body body .svg-container svg {
        background-color: #2B8AF4; }
        html body .svg-container svg .axis, body body .svg-container svg .axis {
          fill: #3895F4;
          stroke: #3895F4;
          stroke-width: 2; }
        html body .svg-container svg .island, body body .svg-container svg .island {
          fill: #A4ED60;
          stroke: #A4ED60; }

#container-page {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%; }

#container-game {
  display: table-cell;
  vertical-align: middle;
  background: #2c8af4; }

#container-inner {
  position: absolute;
  height: 100%;
  width: 100%; }

#svg {
  margin: auto;
  height: 100%;
  min-height: 660px;
  max-height: 800px;
  width: 800px;
  position: relative;
  background-color: #2c8af4; }

#game-title {
  padding-top: 40px;
  padding-bottom: 40px; }

#hud {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center; }

#hud #lives {
  float: left; }

#hud #messages {
  display: inline-block; }

#game-container {
  overflow: hidden; }

#safe-route-dialog, #menu-pause {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  height: 100%; }

#safe-route-dialog {
  padding: 60px; }

#safe-route-dialog .text-frame #submarine-spotted {
  font-size: 24px; }

#safe-route-dialog .text-frame {
  max-width: 840px;
  margin: auto; }

#game-container {
  overflow: hidden; }

.button-style {
  border: 4px solid #000000;
  margin: 10px auto;
  display: inline-block;
  text-align: center; }

.button-fixed-size {
  width: 400px; }

.button-locked {
  background: #d3d0c7; }

.button-yellow {
  background: #f8c12a; }

.button-yellow:hover {
  background: #EDB41A; }

.button-green {
  background: #7abf31; }

.button-green:hover {
  background: #6DAD2A; }

.button-bottom {
  margin: 10px 20px 30px 20px; }

.button-content-size .button-text {
  padding: 10px 20px; }

.button-text {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  border: 4px solid #fdfff9; }

.text-black {
  color: #000000; }

.text-yellow {
  color: #EDB41A; }

a, a:hover, a:focus {
  text-decoration: none;
  color: inherit;
  cursor: default; }

p {
  margin: 0; }

.col-centered {
  float: none;
  margin: 0 auto; }

.text-frame {
  background: #fdfff9;
  border: 4px solid #000000;
  padding: 10px;
  width: 100%;
  resize: none;
  font-size: inherit;
  text-transform: inherit;
  box-sizing: border-box; }

.text-frame.x-scrollable {
  height: 100px; }

.x-scrollable {
  overflow-x: hidden;
  overflow-y: scroll; }

.divider {
  height: 4px;
  background-color: #fdfff9;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block; }

.padding-0 {
  padding: 0; }

.margin-bottom {
  margin-bottom: 20px; }

.top {
  top: 0; }

.bottom {
  bottom: 0px; }

.right {
  right: 0; }

.left {
  left: 0; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.row {
  padding-bottom: 10px; }

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.text-title {
  text-decoration: underline; }

/*# sourceMappingURL=styles.css.map */